@media (max-width: 1340px){
    .icon {
        margin-left: -5rem;
    }
}

@media (max-width: 880px){
    .icon {
        position: relative;
        margin-top: 100px;
    }
}

@media (max-width: 700px){
    .icon {
        position: relative;
        left: 5.5rem;
    }
}